//COLORES
// Blancos
$White: #FFF;
$Platinum: #E6E7E7;
$LightGray: #D1D1D1;

// Rosas
$FuzzyWuzzy: #E56353;
$RudyPink: #D76C69;
$SpanishPink: #ECBCBA;

// Negros
$EerieBlack: #121619;
$RaisingBlack: #222323;
$Nickel: #6C6E70;
